.carousel {
    width: 100%;
    position: relative;
    margin-top: 100px;
}

.carousel_item img {
    width: 100%;
    height: 800px;
}

.text_area {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.text_area p {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}

.carousel_btn {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--main-orange);
    border-radius: 20px;
    width: 300px;
    height: 70px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: white;
}