header {
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    transition: all linear 0.3s;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    max-width: 100px;
    height: 50px;
}

.navList {
    display: flex;
    list-style: none;
    display: none;
}

.navItem {
    padding-left: 50px;
    cursor: pointer;
}

.navItem i {
    color: white;
    display: block;
    text-align: center;
}

.nav .navItem a {
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
}



.myIcon {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: white;
}



.show {
    z-index: 999999999999;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    opacity: 0.9;

}

.show a {
    display: block;
    cursor: pointer;
    padding-left: 30px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    letter-spacing: 5px;
    line-height: 100%;
    color: white;
    width: 100%;
    height: 50px;
    line-height: 50px;
    transition: all linear 0.3s;
    text-align: center;
}


@media (min-width: 1280px) {

    /*     header {
        width: 100%;
        height: 100px;
        background-color: var(--main-color);
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
    }
 */
    .header_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        max-width: 152px;
        height: 80px;
        transition: all linear 0.3s;
    }

    .navList {
        display: flex;
        list-style: none;
    }

    .navItem {
        padding-left: 50px;

    }

    .navItem a {
        color: white;
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 17px;
        text-decoration: none;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navItem span {
        padding-top: 10px;
    }

    .navIcon {
        display: block;
        max-width: 50px;
        max-height: 20px;
        filter: invert(100%) sepia(86%) saturate(0%) hue-rotate(42deg) brightness(102%) contrast(101%);
    }

    .myIcon {
        display: none !important;
        cursor: pointer;
        font-size: 30px;
        color: white;
    }

    .mobile-list {
        display: none;
    }

    .item1:hover .Verkauf {
        color: #5b9059;
    }

    .item1:hover .navIcon {
        filter: invert(49%) sepia(33%) saturate(521%) hue-rotate(70deg) brightness(96%) contrast(85%);
    }

    .item2:hover .Werkstatt {
        color: #c7524b;
    }

    .item2:hover .navIcon {
        filter: invert(55%) sepia(7%) saturate(4657%) hue-rotate(314deg) brightness(78%) contrast(101%);
    }

    .item3:hover .Lastenrad {
        color: #ec571b;
    }

    .item3:hover .navIcon {
        filter: invert(43%) sepia(36%) saturate(5957%) hue-rotate(354deg) brightness(98%) contrast(88%);

    }

    .item4:hover .Kinderrad {
        color: #272c74;
    }

    .item4:hover .navIcon {
        filter: invert(26%) sepia(22%) saturate(1726%) hue-rotate(197deg) brightness(80%) contrast(107%);


    }
}